img {
    border-radius: 32%;
    position:relative;
    width:20%;
    height:260px;
    border:5px groove rgba(34, 26, 27, 0.96);
    top:25px;
    right:-1450px;
}
body {
    background-color:lightgray;
}

